body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: white;
    color: #333;
    margin: 0;
    padding: 0;
} 

header {
    text-align: center;
    padding: 2rem;
    background: white;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.productdisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.images {
    flex: 1 1 300px;
}

#mainimagee { 
    width: 100%;
    border-radius: 8px;
}

.additionalimages {
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
}

.productdetails {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    flex: 1 1 400px;
    padding: 1.5rem;
    border-radius: 8px;
}

h2 {
    font: 2rem;
}

.ogprice {
    font-size: 1rem;
    text-decoration: line-through;
    margin-left: 10px;
    color: red;
}

.Condition {
    color: #053e92;
    font-weight: bold;
}

.Availability {
    margin-top: 0.5rem;
    font-style: italic;
}

.sellerinfo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sellerlogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 10px;
}

.sellertext strong {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.sellertext a {
    margin-right: 10px;
    color: #03284d;
    text-decoration: none;
    font-size: 1rem;
}

.actions {
    margin-top: 1.5rem;
}

button {
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    transition: 0.3s ease;
    margin-right: 10px;
    border: none;
}

.addcart {
    background-color: #1976d2;
    color: white;
}

.addcart:hover {
    background-color: #125ea5;
}

.buy {
    background-color: #388e3c;
    color: white;
}

.buy:hover {
    background-color: #2b6c2e;
}
